/* アニメーションの設定 */
.balsed {
  opacity: 0;
  transition: opacity 3s; /* opacity要素(不透明度)の変更を3秒間かけて行う */
}

.balsed2{
  opacity: 0;
  transition: opacity 3s;
}

.thankyou {
  opacity: 0;
  transition: opacity 3s;
}

body{
  text-align: center;
}

#balse{
  width: 700px;
  height: 300px;
  font-size: 200px;
}
