body {
  background: url(./wood.png) ;
  background-size:auto;
  text-align: center;
}

h2{
  color: antiquewhite;
}
#title {
  /* 配置　*/
  text-align: center;
  /* 色 */
  color: antiquewhite;
}

.menu {
  /* 配置　*/
  margin: 2rem auto;

  /* サイズ */
  width: 20rem;
  height: 3rem;
  font-size: 1rem;
  /* 色 */
  color: aliceblue;

}

.level {
  /* 配置　*/
  margin: 2rem auto;

  /* サイズ */
  width: 15rem;
  height: 4rem;
  font-size: 2rem;
  /* 色 */
  background-color: rgb(92, 212, 248);

}

.board-row{
  margin-top: 4px;
}


#controller #btn-return{
  /* 配置 */
  position:fixed;
  top: 1rem;
  left: 1rem;
  background-color: rgb(46, 97, 50);
  font-size: 25px;
  color: white;
}

#controller #btn-initialize{
  /* 配置 */
  position:fixed;
  top: 10rem;
  left: 1rem;
  font-size: 25px;
  background-color: gray;
  
}

#answerArea {
  display: none;
  font-size: 25px;
  color: antiquewhite;

}

#answer{
  width: 300px;
  line-height: 40px;
  font-size: 3rem;
}

#expression{
  width: 700px;
  height: 200px;
  color: black;
  display: inline-block;
  background-color: antiquewhite;
  font-size: 3rem;
}
