body {
  background: url(./wood.png) ;
  background-size:auto;
  text-align: center;
}

.square {
  vertical-align: middle;
  width: 12rem;
  height: 12rem;
  font-size: 6rem;
  background-color:antiquewhite;
}

#result{
  color: antiquewhite;
  font-size: 50px;
}
.square:disabled {
  background-color: antiquewhite;
  color: black;
}

.square.circle {
  color: red;
} 
.square.cross {
  color: blue;
} 

#board {
  /* 配置　*/
  margin: 5rem auto;

  /* サイズ */
  width: 37rem;
  height: 36rem;

  /* 色 */
  background-color: black;
  outline: 1.5rem solid;
  outline-color: black;
}

.board-row{
  margin-top: 4px;
}


#controller #btn-return{
  /* 配置 */
  position:fixed;
  top: 1rem;
  left: 1rem;
  background-color: rgb(46, 97, 50);
  font-size: 25px;
  color: white;
}

#controller #btn-initialize{
  /* 配置 */
  position:fixed;
  top: 10rem;
  left: 1rem;
  font-size: 25px;
  background-color: gray;
  
}
